.fondo1
  background-image: url('../assets/curso/intro/fondotarjeta.png')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo2
  background-color: #E2FFF4 !important

.fondo3
  background-color: #6FA2FF !important

.fondo4
  background-color: #F4F4F4 !important

.fondo5
  background-color: #F3F9FF !important
  border-radius: 0

.fondo6
  background-color: #D8FBFF !important

.fondo7:before
  background-color: #ffac1d3d !important

.fondo8
  background-color: #FFAB1D

.fondo9
  background-color: #00E5FF

.fondo10
  background-color: #F8F8F8 !important

.tabs-a__tab:last-child
  margin-bottom: 0 !important
  background-color: #efefef

.tabs-a.color-acento-contenido .tabs-a__tab__selected
  background-color: #00e5ff
  color: #12263F !important

.fa-info:before
  content: "\f129"
  color: #12263F

.lista-ol--cuadro__vineta span
  color: #12263F

.tarjeta--azul:hover
  background-color: #DCE9FF !important

.tarjeta--azul
  background-color: #EBF3FF !important

.slyder-a__btn--sigt, .slyder-a__btn--atrs
  background-color: #6FA2FF !important

.slyder-a__bullets__item--active
  background-color: #6FA2FF
  border-color: #6FA2FF
  opacity: 1

.fa-thumbtack:before
  content: "\f08d"
  color: #005BFF

.acordion__activo
  background-color: #DCE9FF !important

.reducir
  width: 40%
  height: 40%
  margin: 0 auto

.reducir2
  width: 50%
  height: 50%
  margin: 0 auto

.reducirFig
  width: 70%
  height: 70%
  margin: 0 auto
  margin-top: -15px

.altura
  height: 450px

.anchocolumna
  width: 35%

.quitarRedondeo
  border-radius: 0px

.tarjeta-avatar .tarjeta
  display: inline-block
  padding-top: 0 !important
  height: 100%

.tarjeta-avatar
  height: 100%
  position: relative
  padding-top: 2em

.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: #12263F !important

.efecto-tarjeta:hover
  animation-name: desplazamiento
  animation-duration: 1s
  animation-iteration-count: 1

.bloque-texto-g__img 
  width: 50%
  position: absolute
  top: 0
  right: 0
  left: auto
  bottom: 0
  background-position: center
  background-size: cover

.bloque-texto-g__texto
    position: relative
    width: 70%
    left: auto
    right: 30%
    background-color: #fff

@keyframes desplazamiento
  0%
    margin-top: 0
  50%
    margin-top: -3em  
  100%
    margin-top: 0

@media (min-width: 1401px)
  .reducir
    width: 35%
    height: 35%
    margin: 0 auto
  .subirImg
    margin-top: -30%
  .altura
    height: 550px  

@media (max-width: 1400px)
  .subirImg
    margin-top: -35% !important
  .textoPeq
    font-size: 0.9em

@media (min-width: 1200px)
  .ampliar-tarjeta
    width: 150%
    height: 150%
    margin: 0 auto

@media (max-width: 1200px)
  .subirImg
    margin-top: -40% !important
  .altura
    height: 450px
  .textoPeq
    font-size: 0.8em !important

@media (max-width: 992px)
  .reducir
    width: 35%
    height: 35%
    margin: 0 auto
  .subirImg
    margin-top: -25% !important
  .bloque-texto-g__img 
      width: 100%
      height: 50%
  .bloque-texto-g__texto
    width: 100%
  .bloque-texto-g__texto 
    position: relative
    left: 0
    right: 0
    background-color: hsla(0,0%,100%,.95)

@media (max-width: 768px)
  .subirImg
    margin-top: -15% !important
  .fondo1
    border-radius: 33px
  .margen-titulo
    margin-top: 2.5em

@media (max-width: 576px)
  .reducir
    width: 30%
    height: 30%
    margin: 0 auto
  .subirImg
    margin-top: -12%
  .fondo1
    background-image: url('../assets/curso/intro/fondotarjeta.png')
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    border-radius: 35px

/*
  .fondo1
  background-color: #ffeed2

  .fondo2
    background-color: #3ba3f8

  .fondo3
    background-color: #aed4f5 !important

  .fondo4
    background-color: #133D60

  .fondo5
    background-color: #DFEAF1

  .fondo6
    background-color: #DEEEFC !important

  .fondo7
    background-color: #1670B9 !important

  .fondo8
    background-color: #FCD189

  .fondo9
    background-image: url('../assets/curso/tema2/fondotema2.jpg')
    background-size: cover
    background-repeat: no-repeat
    background-position: center

  .fondo10
    background-image: url('../assets/curso/tema3/fondotema3.jpg')
    background-size: cover
    background-repeat: no-repeat
    background-position: center

  .fondo11
    background-image: url('../assets/curso/tema1/fondotema1.jpg')
    background-size: cover
    background-repeat: no-repeat
    background-position: center

  .fondo12
    background-color: #F6F6F6

  .fondo13
    background-color: #133D60
    border-radius: 50px

  .bordes
    border-radius: 10px

  .color-texto
    color: #3ba3f8

  .slyder-d__content__card
    background-color: #DEEEFC !important

  .slyder__btn
    display: block
    width: 30px
    height: 30px
    position: relative
    background-color: #F6525D !important
    margin-left: 15px

  .correr-izq
    margin-left: -50px

  .correr-der
    margin-right: -50px

  .correr-img
    margin-left: 70px

  .bajar
    margin-bottom: -80px

  .correr-izq30
    margin-left: -30px

  .correr-izq10
    margin-left: -10px

  .lista-ol--cuadro__vineta
      background-color: #133D60 !important
      display: inline-block
      min-width: 24px
      height: 24px
      color: #fff
      position: relative
      margin-right: 8px

  .reducir
    width: 50%
    height: 50%
    margin: 0 auto

  .reducir80
    width: 80%
    margin: 10px auto

  .aumentar
    width: 150px
    height: 150px

  .tabla-a th 
    border-color: #e8e8e8
    font-weight: 700
    text-align: center
    background-color: #FCD189

  .texto-arriba
    vertical-align: top

  .tarjeta--container > .tarjeta:first-child
    border-top-left-radius: 0 !important
    border-bottom-left-radius: 0 !important

  .tarjeta--container > .tarjeta:last-child
    border-top-right-radius: 0 !important
    border-bottom-right-radius: 0 !important

  .linea-tiempo-d.color-secundario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
    background-color: #133D60 !important
    color: #fff !important

  .linea-tiempo-d.color-primario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
      background-color: #133D60 !important
      color: #fff

  .linea-tiempo-d__item--selected .linea-tiempo-d__item__content__title
    font-weight: 700
    background-color: #aed4f5

  .pt-0 
    padding-top: 0!important
    background-color: #aed4f5

  .lista-ul--color li > i:first-of-type 
    color: #133D60 !important

  .fa-plus:before 
    content: "\f067"
    color: #fff

  .fa-minus:before 
    content: "\f068"
    color: #fff

  .acordion__accion__btn--a 
    background-color: #133D60 !important

  .slyder-d__content__card
    background-color: #DEEEFC !important
    width: 600px

  td 
    line-height: 1.5
    background-color: #F6F6F6

  .tarjeta--azul
    background-color: #DFEAF1

  .tarjeta--gris
    background-color: #fff !important

  .anchoTitulo
    width: 252px

  .figura1
    z-index: 1

  .figura2
    z-index: 2

  @media (max-width: 1400px)
    .margenAcordion
      margin-left: 3.5em
    .margenTexto
      margin-left: 0em !important
      margin-right: 0.9em
    .margenTitulo
      margin-left: 0
    .correr-izqBloq
      margin-left: -50px
    .padCuadro
      padding-left: 3.5em
      padding-right: 3.5em
    .margenCuadroAmarillo
      margin-right: 10px
    .alineacion
      align-items: end
    .margenTextoBarra
      margin-left: 3.5em
    .correr-izqimg
      margin-left: -50px
    .margen-tarjeta
      margin-bottom: 3em

  @media (max-width: 1200px)
    .bajar
      margin-bottom: -80px
    .margenCuadroAmarillo
      margin-right: 10px
    .alineacion
      align-items: end
    .margenTexto
      margin-left: 0
      margin-right: 0.9em
    .margenTitulo
      margin-left: 0
    .correr-izqimg
      margin-left: -50px
    .margen-tarjeta
      margin-bottom: 6em

  @media (max-width: 992px)
    .celular
      display: none
    .correr-izqFig
      margin-left: -20px
    .margenAcordion
      margin-left: 0
    .margenTexto
      margin-left: 0
      margin-right: 0.9em
    .margenTitulo
      margin-left: 0
    .correr-izqBloq
      margin-left: 0
    .padCuadro
      padding-left: 3.5em
      padding-right: 3.5em
    .margenCuadroAmarillo
      margin-right: 10px
    .alineacion
      align-items: end
    .correr-izqimg
      margin-left: 0
    .margenTextoBarra
      margin-left: 1em
    .correr
      margin-left: -60px
    .reducirFig2
      width: 50%
      height: 50%
      margin: 0 auto
    .reducirFig2
      width: 60%
      height: 60%
      margin: 0 auto
    .slyder-d__content__card
      background-color: #DEEEFC !important
      width: 500px

  @media (max-width: 768px)
    .margenTitulo
      margin-left: 1em
    .correr-izqBloq
      margin-left: 0
    .imagenes
      display: none
    .padCuadro
      padding-left: 2em
      padding-right: 2em
    .margenCuadroAmarillo
      margin-right: 10px
    .alineacion
      align-items: start !important
    .correr-izqimg
      margin-left: 0
    .margenTextoBarra
      margin-left: 1em
    .margenTexto
      margin-left: 1em !important
      margin-right: 2em
    .correr
      margin-left: -60px
    .margen-tarjeta
      margin-bottom: 4.5em

  @media (max-width: 576px)
    .imagenes
      display: none
    .margenTexto
      margin-left: 2em
      margin-right: 2em
    .margenTitulo
      margin-left: 1em
    .correr-izqBloq
      margin-left: 0
    .margenTextoCuadro
      margin-left: 3em
      margin-right: 3em
    .padCuadro
      padding-left: 1em
      padding-right: 1em
    .margenCuadroAmarillo
      margin-right: 0
    .alineacion
      align-items: start !important
    .correr-izqimg
      margin-left: 0
    .margenTextoBarra
      margin-left: 1em
    .correr
      margin-left: -60px
    .margen-tarjeta-abajo
      margin-bottom: 2em
    .reducir80
      width: 40%
      margin: 10px auto
    .reducirgrafica
      width: 80%
      margin: 0 auto
    .slyder-d__content__card
      background-color: #DEEEFC !important
      width: 350px